// theme colors
$primary: #2dd5f3;
$secondary: #fcda1c;
$tertiary: #b1b8b9;//#ff4081;
$success: #27a745;
$info: #16a2b8;
$warning: #ffc106;
$danger: #dc3544;
$cnnred: #cc0000;

$light: hsl(0, 16%, 96%);
$dark: hsl(202, 16%, 16%);
$textGray: #404040;
$textLight: white;
$textDark: #353535;

// color palette
$colors: (
    "primary": (
        "main": $primary,
        "contrast": $textDark,
    ),
    "secondary": (
        "main": $secondary,
        "contrast": $textDark,
    ),
    "tertiary": (
        "main": $tertiary,
        "contrast": $textDark,
    ),
    "success": (
        "main": $success,
        "contrast": $textLight,
    ),
    "info": (
        "main": $info,
        "contrast": $textLight,
    ),
    "warning": (
        "main": $warning,
        "contrast": $textGray,
    ),
    "danger": (
        "main": $danger,
        "contrast": $textLight,
    ),
    "cnn": (
        "main": $cnnred,
        "contrast": white,
    ),
    "blue": (
        "main": #1919e6,
        "contrast": $textLight,
    ),
    "red": (
        "main": #e61919,
        "contrast": $textLight,
    ),
    "green": (
        "main": #19e635,
        "contrast": $textDark,
    ),
    "gray": (
        "main": #808080,
        "contrast": #ffffff,
    ),
    "black": (
        "main": #000000,
        "contrast": #ffffff,
    ),
    "white": (
        "main": #ffffff,
        "contrast": #000000,
    ),
);

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 2px;
$base-border-radius: 15px;

// navbar height
$base-navbar-height: 55px;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);

// font sizes
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xll: $base-font-size * 3;