@use 'sass:math';
@use 'sass:map';
@use '../util' as u;

@mixin badge ($bg-color: u.$info, $txt-color: u.$textLight) {
    border-radius: u.$base-border-radius * 4;
    background-color: $bg-color;
    color: $txt-color;
    padding: math.div(u.$base-padding, 4) math.div(u.$base-padding, 2);
    font-size: u.$font-size-sm;
    font-weight: normal;
}

.badge {
    @include badge;
}

@each $key, $val in u.$colors {
    .badge-#{$key} {
        @include badge(map.get($val, 'main'), map.get($val, 'contrast'));
    }
}