@use '../util' as u;
@use 'sass:map';

%flex-layout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.navbar {
    @extend %flex-layout;
    position: fixed;
    top: 0;
    height: u.$base-navbar-height;
    padding: u.$base-padding u.$base-padding * 2;
    box-shadow: u.$base-box-shadow;

    .nav-image {
        height: u.$base-navbar-height;
        width: auto;
    }
    .nav-title {
        font-size: u.$font-size-lg;
        margin: u.$base-margin 0;
    }
    .nav-text {
        margin: u.$base-margin 0;
    }
    .container {
        @extend %flex-layout;
    }
}

.content-under {
    padding-top: u.$base-navbar-height;
    margin-top: u.$base-margin * 2;
}

@each $key, $val in u.$colors {
    .navbar-#{$key} {
        @extend .navbar;
        background-color: map.get($val, 'main');

        .site-title {
            color: map.get($val, 'contrast');
        }
    }
}