@use 'variables' as v;
@use "sass:map";
@use 'sass:color';

:root {
    --background-color: #{v.$dark};
    --text-color: #{v.$light};
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@each $key, $val in v.$colors {
    .text-#{$key} {
        color: map.get($val, "main");
    }
    .text-hover-#{$key} {
        &:hover {
            color: map.get($val, "main");
        }
    }
    .#{$key} {
        background-color:map.get($val, "main");
        color:map.get($val, "contrast");
    }
    .hover-#{$key} {
        &:hover {
            background-color:map.get($val, "main");
            color:map.get($val, "contrast");
        }
    }

    @if(map.get($val, "main") != black and map.get($val, "main") != white) {
        @for $i from 1 through 9 {
            // Light variations
            .text-#{$key}-light-#{$i} {
                color: color.mix(white, map.get($val, "main"), $i * 10%);
            }
            .text-hover-#{$key}-light-#{$i} {
                &:hover {
                    color: color.mix(white, map.get($val, "main"), $i * 10%);
                }
            }
            .#{$key}-light-#{$i} {
                background-color: color.mix(white, map.get($val, "main"), $i * 10%);
                color:map.get($val, "contrast");
            }
            .hover-#{$key}-light-#{$i} {
                &:hover {
                    background-color: color.mix(white, map.get($val, "main"), $i * 10%);
                    color:map.get($val, "contrast");
                }
            }
            // Dark variations
            .text-#{$key}-dark-#{$i} {
                color: color.mix(black, map.get($val, "main"), $i * 10%);
            }
            .text-hover-#{$key}-dark-#{$i} {
                &:hover {
                    color: color.mix(black, map.get($val, "main"), $i * 10%);
                }
            }
            .#{$key}-dark-#{$i} {
                background-color: color.mix(black, map.get($val, "main"), $i * 10%);
                color:map.get($val, "contrast");
            }
            .hover-#{$key}-dark-#{$i} {
                &:hover {
                    background-color: color.mix(black, map.get($val, "main"), $i * 10%);
                    color:map.get($val, "contrast");
                }
            }
        }
    }
};