@layer base {
  html {
    @apply box-border;
    font-size: 100%;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    color: inherit;
  }
  body {
    @apply m-0 p-0;
    background-color: var(--color-is-dark-m);
    color: var(--color-is-light-m);
  }
}