.Container {
  width: 100%;
  margin: 5 auto;
}
.Row {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 0 -15px;
}
.TextGroup {
  top: 0px;
  left: 10px;
}
TextBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.Controls, .Controls>input {
  position: relative;
  display: block;
  margin: 10px;
  background-color: red;
}