@import "tailwindcss";

@theme {
  --color-cnn: #cc0000;
  --color-is-light-m: hsl(0, 16%, 96%);
  --color-is-dark-m: hsl(202, 16%, 16%);
  --color-is-light: white;
  --color-is-gray: #404040;
  --color-is-dark: #353535;
  --color-primary: #2dd5f3;
  --color-secondary: #fcda1c;
  --color-tertiary: #b1b8b9;
  --color-success: #27a745;
  --color-info: #16a2b8;
  --color-warning: #ffc106;
  --color-danger: #dc3544; 

  --spacing: 0.75rem;
}

@layer base {
  /* boilerplate */
  html {
    box-sizing: border-box;
    font-size: 100%;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    color: inherit;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: var(--color-is-dark-m);
    color: var(--color-is-light-m);
  }
  /* typography */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      font-weight: 700;
      line-height: 1.1;
      margin-top: 0;
  }
  h1 {@apply text-5xl}
  h2 {@apply text-4xl}
  h3 {@apply text-2xl}
  h4 {@apply text-xl}
  h5 {@apply text-lg}

  p {
      margin-top: 0;
  }

  ul {
      padding: 0;
      list-style-type: none;
  }

  hr {
      border: 0;
      border-top: 2px solid #efefef;
  }

  a,
  a:visited,
  a:active {
      text-decoration: none;
  }
}

@layer components {
  .flex-layout {
    @apply w-full flex items-center place-content-between box-border
  }
  /* card */
  .card {
    @apply block p-1 border-2 border-solid border-is-light-m shadow-xl rounded-lg
  }
  .card .card-title {
    @apply text-2xl pb-0.5 font-bold
  }
  .card .card-body {
    @apply text-base
  }
  .card .card-body a {
    @apply underline
  }
  /* badge */
  .badge {
    @apply rounded-4xl py-0.5 px-1 text-xs font-normal
  }
}