@import "tailwindcss";

@theme {
  --color-cnn: #cc0000;
  --color-is-light: white;
  --color-is-gray: #404040;
  --color-is-dark: #353535;

  --spacing: 0.75rem;
}

@layer components {
  .flex-layout {
    @apply w-full flex items-center place-content-between box-border
  }
}