h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.1;
    margin-top: 0;
}

p {
    margin-top: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

hr {
    border: 0;
    border-top: 2px solid #efefef;
}

a,
a:visited,
a:active {
    text-decoration: none;
}

:root {
    --base-font-fam: system-ui, Avenir, Helvetica, Arial, sans-serif; 
    --base-font-family-cnn-sans-display: cnn_sans_display,helveticaneue,Helvetica,Arial,Utkal,sans-serif;
    --base-font-family-cnn-sans: cnn_sans;
    --base-font-family-cnn-condensed: cnn_sans_condensed;
    --base-font-family-cnn-stencil: cnn_stencil_display;
}